<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marlostrinidad.wegeek.nerdzone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Helper.App"
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Noticia.Banca.Info_status_banca_noticia"></activity>
        <activity android:name=".Noticia.Banca.Configuracao_banca_noticia" />
        <activity android:name=".Noticia.Noticia.LerNoticia" />
        <activity android:name=".Noticia.Banca.Ver_status_banca_noticia" />
        <activity android:name=".Noticia.Noticia.Editar_noticia" />
        <activity android:name=".Noticia.Noticia.Nova_noticia" />
        <activity android:name=".Noticia.Noticia.Detalhe_noticia" />
        <activity android:name=".Noticia.Banca.Detalhe_banca_Noticia" />
        <activity android:name=".Noticia.Banca.Nova_banca_noticia" />
        <activity android:name=".MinhaConta.MinhaConta" />
        <activity android:name=".HQ.HQ.Editar_HQ" />
        <activity android:name=".HQ.Banca.Configuracao_banca" />
        <activity android:name=".Meus_dados_pendentes.Meus_Dados_Pendentes" />
        <activity android:name=".secao_Adm.Main_adm_Activity" />
        <activity android:name=".HQ.Banca.Ver_Status_Banca" />
        <activity android:name=".HQ.Banca.Detalhe_banca" />
        <activity android:name=".HQ.Banca.Cadastrar_Nova_Banca" />
        <activity android:name=".Evento.Configuracao_evento" />
        <activity android:name=".Evento.Status.Info_Status_Evento" />
        <activity android:name=".Evento.Status.VerStatusEvento" />
        <activity android:name=".Noticia.Noticia.Editar_Topico" />
        <activity android:name=".Mercado.Editar_item_loja" />
        <activity android:name=".Assinantes.MeusAssinantes" />
        <activity android:name=".Noticia.Forum_principal" />
        <activity
            android:name=".MinhaConta.Gameover"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity android:name=".Conversa.ChatActivity_pessoal" />
        <activity android:name=".Conversa.Lista_conversas" />
        <activity android:name=".Noticia.Noticia.Detalhe_topico" />
        <activity android:name=".Noticia.Noticia.Novo_Topico_forum" />
        <activity android:name=".HQ.HQ.Detalhe_hq" />
        <activity android:name=".HQ.HQ.Cadastra_novo_HQ" />
        <activity android:name=".Mercado.Status.Info_Status" />
        <activity android:name=".Mercado.Configuracao_Mercado" />
        <activity android:name=".Mercado.Status.Ver_StatusActivity" />
        <activity android:name=".Mercado.Status.Pag_add_Status" />
        <activity android:name=".Mercado.lista_itens_de_uma_loja" />
        <activity android:name=".Mercado.Detalhe_item_comercio" />
        <activity android:name=".Mercado.Cadastrar_Novo_item_mercado_selecionado" />
        <activity android:name=".Mercado.Detalhe_Loja" />
        <activity android:name=".Leilao.Novo_Leilao_Activity" />
        <activity
            android:name=".Leilao.leilao_page_principal"
            android:label="@string/title_activity_leilai_page_principal"
            android:parentActivityName=".Activits.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marlostrinidad.wegeek.nerdzone.Activits.MainActivity" />
        </activity>
        <activity
            android:name=".Noticia.Banca.Configuracao_Grupo_Activity"
            android:label="@string/title_activity_configuracao__grupo_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Noticia.Convite_Activity"
            android:label="@string/title_activity_convite_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HQ.HQ.Pag_producao_hq" />
        <activity android:name=".HQ.HQ.Lista_geral_hq" />
        <activity android:name=".Noticia.Banca.Page_Info_Grupo" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/favicon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5sEdUE6YUrPxTPS4tI3EPdfcqpw8WN9E" />

        <service
            android:name=".Notificacao.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notificacao.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Activits.MainActivity" />
        <activity android:name=".Autenticacao.LoginActivity" />
        <activity android:name=".Conversa.ChatActivity_loja" />
        <activity android:name=".Abrir_Imagem.AbrirImagemHQ" />
        <activity android:name=".Evento.Cadastrar_Novo_Evento" />
        <activity android:name=".Mercado.MercadoActivity" />
        <activity android:name=".Mercado.Cadastrar_Novo_MercadoActivity" />
        <activity
            android:name=".Evento.DetalheEvento"
            android:label="@string/title_activity_detalhe_evento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Abrir_Imagem.AbrirImagemComercio" />
        <activity android:name=".Evento.Evento_Lista" />
        <activity android:name=".Noticia.Banca.Novo_Grupo_Forum" />
        <activity android:name=".Noticia.Banca.Page_Chat_grupo" />
        <activity android:name=".Abrir_Imagem.AbrirImagem" />
        <activity android:name=".Politica_Privacidade.Politica_PrivacidadeActivity" />
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />
        <activity
            android:name=".Splash.TelaSplash"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Suporte.SuporteActivity" />
    </application>

</manifest>